@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
:root {
    /* fonsize */
    --font-size-heading-1: 60px !important;
    --font-size-heading-2: 32px !important;
    --font-size-subtitle: 24px !important;
    --font-size-text: 16px !important;
    --font-size-tiny: 14px;
    --font-size-icon: 24px;
    /* font-family */
    --font-main: "Roboto", sans-serif;
    /* size of button */
    --btn-size: 5px 18px;
    --btn-shadow: 0.5px 0.5px 2px gray;
    --border-radius: 8px;
    /* font color */
    --bg-body-1: #ffffff;
    --bg-body-2: linear-gradient(0deg, #f6f5ff, #fff);
    --lg-color: #1560bd;
    --bg-box: #e5e7eb;
    --bg-card: #ffffff;
    --icon-color: #6b7280;
    --color-title: #111827;
    --color-text: #4b5563;
    --color-subtitle: #111827;
    --color-social-icon: #4b5563;
}

@media (min-width: 768px) and (max-width: 1024px) {
     :root {
        --font-size-heading-1: 48px;
        --font-size-heading-2: 24px;
        --font-size-subtitle: 16px;
    }
}

@media (max-width: 768px) {
     :root {
        --font-size-heading-1: 36px;
        --font-size-heading-2: 16px;
        --font-size-heading-3: 14px;
        --font-size-subtitle: 16px;
        --font-size-text: 14px;
    }
}

body {
    background-color: var(--bg-body-1);
}

header {
    color: var(--bg-body-2);
}

header .navbar-brand {
    color: var(--lg-color);
}

header .navbar .sign-up {
    border: 2px solid var(--lg-color);
    color: var(--lg-color);
}

header .navbar .login {
    background-color: var(--lg-color);
    color: var(--bg-body-1);
}

.navbar .navbar-brand img {
    width: 180px;
}


/* hero-banner */

.hero-banner {
    margin-top: 40px;
}

.hero-banner .hero-block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-banner .hero-block .hero-contect h1 {
    padding-bottom: 10px;
    line-height: 65px;
    font-size: var(--font-size-heading-1);
    font-weight: 800;
    color: var(--color-title);
}

.hero-banner .hero-block .hero-contect span {
    color: var(--lg-color);
}

.hero-banner .hero-block .hero-contect p {
    color: var(--color-text);
}

.hero-banner .hero-img {
    width: 100%;
    height: 100%;
}


/* sign-up modal */

.sign-form .custom-modal .modal-dialog {
    max-width: 900px;
}

.sign-form .modal .modal-body .modal-img {
    width: 100%;
    height: 100%;
}

.sign-form .modal .modal-body .modal-title {
    font-weight: bold;
    font-size: var(--font-size-heading-2);
    color: var(--lg-color);
    padding-bottom: 10px;
}

.sign-form .modal .input-group {
    position: relative;
    width: 100%;
}

.sign-form .modal .input-group .modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.sign-form .modal .input-group .modal-icon {
    position: absolute;
    top: 65%;
    right: 3%;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.sign-form .modal .btn-modal {
    border: none;
    background-color: #1560bd;
    color: var(--bg-body-1);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    font-size: var(--font-size-heading-3);
    width: 100%;
}

.sign-form .modal .modal-body .title {
    font-size: var(--font-size-heading-3);
    color: var(--color-text);
    font-weight: 500;
    padding: 0;
}

.sign-form .modal .modal-body .other-app-box {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.sign-form .modal .modal-body .other-app img {
    width: 40px;
    margin-inline: 10px;
}

.sign-form .modal .modal-body .btn-close {
    position: absolute;
    right: 20px;
    top: 25px;
}

.sign-form .modal .modal-body .sign-in-link,
.sign-form .modal .modal-body .sign-up-link,
.sign-form .modal .modal-body .forget-link {
    text-decoration: none;
}

.sign-form .modal .modal-body .sign-in-link:hover,
.sign-form .modal .modal-body .sign-up-link:hover,
.sign-form .modal .modal-body .forget-link:hover {
    text-decoration: underline;
}

.sign-form .modal .modal-body .back-ward {
    position: absolute;
    left: 20px;
    top: 25px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 24px;
}

.sign-form .modal .modal-body .sign-btn {
    text-decoration: none;
    text-align: center;
}

.sign-form .modal .input-group .input-code {
    border: 1px solid #ccc;
    padding: 10px;
    margin-inline: 8px;
    width: 10%;
    text-align: center;
}

.sign-form .forget-background {
    background-image: url(/assets/img/forget-p.jpg);
    background-size: 600px;
}

.sign-form .modal .modal-body .upload-box {
    width: 100%;
    border: 2px dashed gray;
    border-radius: 10px;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background-color: #f9fafc;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.sign-form .modal .modal-body .upload-box:hover {
    border-color: #4a90e2;
}

.sign-form .modal .modal-body .upload-box input {
    display: none;
}

.sign-form .modal .modal-body .upload-box .upload-icon {
    font-size: 36px;
    color: #999;
}

.sign-form .modal .modal-body .upload-box .upload-text {
    font-size: 16px;
    font-weight: 500;
}

.sign-form .modal .modal-body .upload-box .upload-subtitle {
    font-size: 14px;
    color: var(--color-text);
}


/* new-sub-inform */

.new-main-area .new-sub-inform {
    margin-block: 40px;
}

.new-main-area .new-sub-inform .card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-main-area .new-sub-inform .card.bg-yellow {
    background-color: #faefd7;
}

.new-main-area .new-sub-inform .card .icon-yellow {
    color: #f5c02f;
}

.new-main-area .new-sub-inform .card.bg-gray {
    background-color: #e8ebed;
}

.new-main-area .new-sub-inform .card .icon-gray {
    color: #1d3b52;
}

.new-main-area .new-sub-inform .card.bg-purple {
    background-color: #f1ebfa;
}

.new-main-area .new-sub-inform .card .icon-purple {
    color: #6f42c2;
}

.new-main-area .new-sub-inform .card.bg-yale {
    background-color: #ebf5f7;
}

.new-main-area .new-sub-inform .card .icon-yale {
    color: #1aa0b8;
}

.new-main-area .new-sub-inform .card .card-icon {
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.new-main-area .new-sub-inform .card .card-contect {
    padding-inline-start: 20px;
    display: flex;
    align-items: center;
}

.new-main-area .new-sub-inform .card .card-contect .card-title {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
}

.new-main-area .new-sub-inform .card .card-contect .card-text {
    font-size: var(--font-size-heading-3);
    padding: 0;
}


/* new-main-area */

.new-main-area.bg {
    background-image: var(--bg-body-2);
}

.new-main-area .new-main-contect,
.new-main-area .new-main-title,
.new-main-area .new-main-recommend {
    text-align: center;
}

.new-main-area .new-main-title {
    font-weight: 700;
    font-size: var(--font-size-heading-2);
    color: var(--color-title);
}

.new-main-area .new-main-recommend {
    font-size: var(--font-size-text);
    color: var(--lg-color);
    font-weight: bold;
    text-transform: uppercase;
}

.new-main-area .new-main-contect {
    padding-bottom: 40px;
    font-size: var(--font-size-heading-3);
}

.new-main-area .card {
    background: none;
    border: none;
}

.new-main-area .card .card-icon {
    padding: 20px 0px 0px 15px;
    font-size: var(--font-size-heading-2);
    color: var(--lg-color);
}

.new-main-area .new-main-type {
    text-transform: uppercase;
    color: var(--lg-color);
}

.new-main-area .card .card-title {
    font-weight: 600;
    padding-bottom: 1px;
    font-size: var(--font-size-subtitle);
}


/* category section */

.category-section .card-link {
    text-decoration: none;
}

.category-section .card-link .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-section .card-link .card .card-img {
    max-width: 310px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
}

.category-section .card-link .card .card-text {
    font-size: var(--font-size-heading-3);
    font-weight: 600;
    color: var(--color-title);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adds "..." at the end */
}

.category-section .card-link .card .card-contect {
    color: var(--color-text);
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.category-section .card-link .card .card-recommade .rating-color {
    color: #f59f0a;
    padding-right: 10px;
}

.category-section .card-link .card .card-teacher .card-profile {
    width: 45px;
    height: 45px;
}

.category-section .card-link .card .card-teacher .card-profile img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 310px;
    min-width: 250px;
}

@media (max-width: 768px) {
    .swiper-slide {
        max-width: 90%;
    }
}