@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
:root {
    /* fonsize */
    --font-size-heading-1: 60px !important;
    --font-size-heading-2: 32px !important;
    --font-size-subtitle: 24px !important;
    --font-size-text: 16px !important;
    --font-size-tiny: 14px;
    --font-size-icon: 24px;
    /* font-family */
    --font-main: "Roboto", sans-serif;
    /* size of button */
    --btn-size: 5px 18px;
    --btn-shadow: 0.5px 0.5px 2px gray;
    --border-radius: 8px;
    /* font color */
    --bg-body-1: #ffffff;
    --bg-body-2: linear-gradient(0deg, #f6f5ff, #fff);
    --lg-color: #1560bd;
    --bg-box: #e5e7eb;
    --bg-card: #ffffff;
    --icon-color: #6b7280;
    --color-title: #111827;
    --color-text: #4b5563;
    --color-subtitle: #111827;
    --color-social-icon: #4b5563;
}

@media (min-width: 768px) and (max-width: 1024px) {
     :root {
        --font-size-heading-1: 48px;
        --font-size-heading-2: 24px;
        --font-size-subtitle: 16px;
    }
}

@media (max-width: 768px) {
     :root {
        --font-size-heading-1: 36px;
        --font-size-heading-2: 16px;
        --font-size-heading-3: 14px;
        --font-size-subtitle: 16px;
        --font-size-text: 14px;
    }
}

body {
    background-color: var(--bg-body-1);
}

header {
    color: var(--bg-body-2);
}

header .navbar-brand {
    color: var(--lg-color);
}

header .navbar .sign-up {
    border: 2px solid var(--lg-color);
    color: var(--lg-color);
}

header .navbar .login {
    background-color: var(--lg-color);
    color: var(--bg-body-1);
}

.navbar .navbar-brand img {
    width: 180px;
}


/* hero-banner */

.hero-banner .hero-block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-banner .hero-block .hero-contect h1 {
    padding-bottom: 10px;
    line-height: 65px;
    font-size: var(--font-size-heading-1);
    font-weight: 800;
    color: var(--color-title);
}

.hero-banner .hero-block .hero-contect span {
    color: var(--lg-color);
}

.hero-banner .hero-block .hero-contect p {
    color: var(--color-text);
}

.hero-banner .hero-img {
    width: 100%;
    height: 100%;
}


/* sign-up modal */

.custom-modal .modal-dialog {
    max-width: 900px;
}

.modal .modal-body .modal-img {
    width: 100%;
    height: 100%;
}

.modal .modal-body .modal-title {
    font-weight: bold;
    font-size: var(--font-size-heading-2);
    color: var(--lg-color);
    padding-bottom: 10px;
}

.modal .input-group {
    position: relative;
    width: 100%;
}

.modal .input-group .modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.modal .input-group .modal-icon {
    position: absolute;
    top: 65%;
    right: 3%;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.modal .btn-modal {
    border: none;
    background-color: #1560bd;
    color: var(--bg-body-1);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    font-size: var(--font-size-heading-3);
    width: 100%;
}

.modal .modal-body .title {
    font-size: var(--font-size-heading-3);
    color: var(--color-text);
    font-weight: 500;
    padding: 0;
}

.modal .modal-body .other-app-box {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.modal .modal-body .other-app img {
    width: 40px;
    margin-inline: 10px;
}

.modal .modal-body .btn-close {
    position: absolute;
    right: 20px;
    top: 25px;
}

.modal .modal-body .back-ward {
    position: absolute;
    left: 20px;
    top: 25px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 24px;
}


/* new-main-area */

.new-main-area.bg {
    background-image: var(--bg-body-2);
}

.new-main-area .new-main-contect,
.new-main-area .new-main-title,
.new-main-area .new-main-recommend {
    text-align: center;
}

.new-main-area .new-main-title {
    font-weight: 700;
    font-size: var(--font-size-heading-2);
    color: var(--color-title);
}

.new-main-area .new-main-recommend {
    font-size: var(--font-size-text);
    color: var(--lg-color);
    font-weight: bold;
    text-transform: uppercase;
}

.new-main-area .new-main-contect {
    padding-bottom: 40px;
}

.new-main-area .card {
    background: none;
    border: none;
}

.new-main-area .card .card-icon {
    padding: 20px 0px 0px 15px;
    font-size: var(--font-size-heading-2);
    color: var(--lg-color);
}

.new-main-area .card .card-title {
    font-weight: 600;
    padding-bottom: 1px;
    font-size: var(--font-size-subtitle);
}